<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login</title>

    <!-- Bootstrap core CSS -->
    {{!--
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- Custom fonts for this template -->
    {{!--
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
        type='text/css'>
    <link
        href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
        rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/img/apple-business-clipboard-2371737.jpg" type="image/gif" sizes="16x16">
    <!-- Custom styles for this template -->
    <link href="/css/clean-blog.min.css" rel="stylesheet">
</head>

<body>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/img/computer-keyboard-facts-indoors-968631.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="page-heading">
                        <h1>Login</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                {{#if errData}}
                {{#if errData.err}}
                <div class="alert alert-danger alert-dismissable">
                    {{errData.err}}
                    <a href="#" class="close alert-link pull-right" data-dismiss="alert">&times;</a>
                </div>
                {{/if}}
                {{/if}}
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                {{#if logoutObj}}
                {{#if logoutObj.success}}
                <div class="alert alert-success alert-dismissable">
                    {{logoutObj.success}}
                    <a href="#" class="close alert-link pull-right" data-dismiss="alert">&times;</a>
                </div>
                {{/if}}
                {{/if}}
            </div>
        </div>


        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <form action="/users/login" method="POST" encType="multipart/form-data">
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Email</label>
                            <input type="email" name="email" placeholder="Email" class="form-control">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Password</label>
                            <input type="password" name="password" placeholder="Password" class="form-control">
                        </div>
                    </div>
                    <br>
                    <div class="form-group my-4 text-center">
                        <button class="btn btn-primary">Login</button>
                    </div>
                </form>
                <br>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3" style="text-align:center;">
                        <p style="color:grey;font-size:inherit;">Not registered yet?</p>
                        <br>
                        <a href="/auth/register" class="btn btn-primary">Register</a>
                        <br><br>
                        <a href="/index" style="text-decoration:none;"><i class="fa fa-arrow-left"></i> Back to
                            Home.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>

    {{> footer }}


    <!-- Bootstrap core JavaScript -->
    {{!--
    <script src="../public/vendor/jquery/jquery.min.js"></script> --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    {{!--
    <script src="../public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script> --}}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/js/clean-blog.min.js"></script>
</body>

</html>