<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login</title>

    <!-- Bootstrap core CSS -->
    {{!--
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Custom fonts for this template -->
    {{!--
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
        type='text/css'>
    <link
        href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
        rel='stylesheet' type='text/css'>
    <link rel="icon" href="/img/apple-business-clipboard-2371737.jpg" type="image/gif" sizes="16x16">
    <!-- Custom styles for this template -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="/css/clean-blog.min.css" rel="stylesheet">
    <style>
        #mySidenav a {
            position: absolute;
            left: -80px;
            transition: 0.3s;
            padding: 15px;
            width: 100px;
            text-decoration: none;
            font-size: 20px;
            color: white;
            line-height: 15px;
            border-radius: 0 5px 5px 0;
        }

        #mySidenav a:hover {
            left: 0;
        }

        #about {
            top: 20px;
            background-color: #76D7C4;
        }
    </style>
</head>

<body
    style="background-image:url('/img/Login.png');background-size:cover;background-attachment:fixed;background-repeat:no-repeat;">

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/img/computer-keyboard-facts-indoors-968631.jpg')">
        <div class="overlay"></div>
        <div class="container-fluid">
            <div id="mySidenav" class="sidenav">
                <a href="/index" id="about">Home</a>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500" style="font-size: 4em;">
                            Login</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {{#if errData}}
                {{#if errData.err}}
                <div class="alert alert-danger alert-dismissable">
                    {{errData.err}}
                    <a href="#" class="close alert-link pull-right" data-dismiss="alert">&times;</a>
                </div>
                {{/if}}
                {{/if}}
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {{#if logoutObj}}
                {{#if logoutObj.success}}
                <div class="alert alert-success alert-dismissable">
                    {{logoutObj.success}}
                    <a href="#" class="close alert-link pull-right" data-dismiss="alert">&times;</a>
                </div>
                {{/if}}
                {{/if}}
            </div>
        </div>


        <div class="well mx-auto border border-info w-75"
            style="background-color: white;border-radius:2em;opacity: 0.9;" id="login_form">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <p class="text-center mx-auto">Already have an account? <code>Login else Register!</code>
                    </p>
                    <br>
                    <form action="/users/login" method="POST" encType="multipart/form-data">
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>Email</label>
                                <input type="email" name="email" placeholder="Email" class="form-control">
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>Password</label>
                                <input type="password" name="password" placeholder="Password" class="form-control">
                            </div>
                        </div>
                        <br>
                        <div class="form-group my-4 text-center">
                            <button class="btn btn-pink">Login</button>
                            <a href="/auth/register" class="btn btn-pink">Register</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br><br>

    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item" id="twitter_logo">
                            <a href="#" style="color:#00acee;">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item" id="facebook_logo">
                            <a href="#" style="color:#3b5998;">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook-f fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item" id="github_logo">
                            <a href="#" style="color:#211f1f;">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Your Website 2019</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.8/css/mdb.min.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/animejs@3.0.1/lib/anime.min.js"></script>
    <script>
        AOS.init({
            once: true,
            mirror: true
        });
    </script>
    <script src="/animations/dynamicPages/loginAnim.js"></script>
    <!-- Custom scripts for this template -->
    <script src="/js/clean-blog.min.js"></script>
</body>

</html>